In [31]:
def jakarta():

    print("DKI Jakarta")
    
jakarta()

DKI Jakarta

'DKI Jakarta'

In [29]:
def no_work():
    pass

print(no_work())

None

In [34]:
def print_enumeration(collection):
    
    for i, val in enumerate (collection):
        print("For index", i, "the corresponding value is", val)

numbers = [8.7, 9.5, 6]
print_enumeration(numbers)

For index 0 the corresponding value is 8.7
For index 1 the corresponding value is 9.5
For index 2 the corresponding value is 6

In [40]:
#Collecting Arguments

# Argument Penjumlahan
def add_many_numbers(*numbers):
    a = 0
    for n in numbers:
        a = a + n
        
    return a

Hasil1 = add_many_numbers(3,7)
print("Hasil = " , Hasil1)
Hasil2 = add_many_numbers(5,7,8)
print(Hasil2)
Hasil3 = add_many_numbers(4)
print(Hasil3)
Hasil4 = add_many_numbers()
print(Hasil4)

# Argument Pengurangan

10
20
4
0

In [3]:
#Perbedaan di berikan function / definition(def)

x = 30

print(x)

if x % 2 == 0:
    y = x //2
else :
    y = 3 * x + 1
    
z = y
print(z)

if z % 2 == 0:
    y = z //2
else :
    y = 3 * z + 1
    
u = y
print(u)

if u % 2 == 0:
    y = u //2
else :
    y = 3 * u + 1
    
w = y
print(w)

30
15
46
23

In [35]:
# Bisa di singkat dengan cara :

def func(a):
    """return a/2 if a is even and 3a _ 1 if a is odd"""
    if a % 2 == 0:
        b = a // 2
    else:
        b = 3 * a + 1
        
    return b

x = 30
print(x)

z = func(x)
print(z)

u = func(z)
print(u)

w = func(u)
print(w)

30
15
46
23

In [27]:
def my_mult(arg1, arg2):
    c = arg1 * arg2
    return c

my_mult(4,7)

28

In [26]:
my_mult(7,3.14)

21.98

In [25]:
my_mult(3, "Surabaya")

'SurabayaSurabayaSurabaya'

In [13]:
grades = [55, 99, 67, 26, 90, 70, 71, 55]

len(grades)
sum(grades)
sorted_grades = sorted(grades)